@page
@model Flowers.Areas.Admin.Pages.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FN</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fn.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fn.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fn.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fn.Description)
        </dd>
       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fn.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.fn.Image" alt="Изображение" class="img-fluid" />
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fn.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fn.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.fn?.Id">Изменить</a> |
    <a asp-page="./Index">Вернуться к списку</a>
</div>

