@using Flowers.Domain.Cart
@using Flowers.Domain.Models
@model Dictionary<int,CartItem>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success mt-3">
        @TempData["Message"]
    </div>
}

@if (Model.Count() == 0)
{
    <h2 class="m-2">Корзина пуста</h2>
}
else
{
    <h2 class="m-2">Ваша корзина:</h2>
    <table class="table table-striped">
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="@item.Value.Item.Image" width="200" /></td>
                <td>@item.Value.Item.Name</td>
                <td>@item.Value.Item.Description</td>
                <td>@item.Value.Qty</td>
                <td>
                    <a class="btn btn-danger"
                       asp-action="Remove"
                       asp-controller="Cart"
                       asp-route-id="@item.Value.Item.Id">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </table>

    <form asp-action="CreateOrder" method="post">
        <button type="submit" class="btn btn-success mt-3">
            <i class="fas fa-check"></i> Заказать
        </button>
    </form>
}
